evalvid/*.txt
evalvid/files/*
evalvid/*.264
evalvid/*.mp4
evalvid/*.yuv
scripts/*.mp4
evalvid/*.zip
evalvid/experimentos/*.txt
evalvid/experimentos/*.png
evalvid/experimentos/*.zip
evalvid/experimentos/Outros/
evalvid/experimentos/classico_automatic/
evalvid/experimentos/mc_automatic/
